<template>
    <div>
    <Header></Header>

    <ListProduct></ListProduct>
    </div>
</template>
<script>
import Header from '~/components/header/header'
import ListProduct from '~/components/admin/product/ListProduct'
    export default {
              components:{
    ListProduct,
    Header
}  
            }
</script>


