<template>
    <div class="api-calling container mt-5">
        <nuxt-link to="/admin/product/addProduct">Createe</nuxt-link>
       
       <hr>
       <h1>List Categories</h1>
       <table class="table">
               <tr>
                   <th >ID</th>
                   <th >Name</th>
                   
                   
               </tr>
               <tr v-for="category in Categories" :key="category.id">
                   <td>{{ category.id }}</td>
                   <td>{{ category.name }}</td>
                   
               </tr>          
       </table>
   </div>
</template>
<script>
export default {
       data() {
           return {
               Categories:[]
           }
       },
       mounted() {
           this.getListCategories()
       },
       methods: {
           async getListCategories() {

                   const response = await this.$axios.get('/category')
                   console.log('123',response.data);
                   this.Categories = response.data

              
          }
       }
   }
</script>