<template>
    <div class="list-input">
        <h2>Add Product</h2>
        <form action="" @submit.prevent="addProduct">
            <div class="ip" style="width:800px; margin:1px auto">
            <div class="left" style="float:left">
                <div class="form-outline form-white mb-4">
                    <label for="lname">Code</label><br>
                    <input type="text" id="code" v-model="product.code" autocomplete="off" required
                        class="form-control form-control-lg">
                    
                </div>
                <div class="form-outline form-white mb-4">
                    <label for="lname">Product Name</label><br>
                    <input type="text" id="name" v-model="product.name" autocomplete="off" required
                        class="form-control form-control-lg">
                    
                </div>
                <div class="form-outline form-white mb-4">
                    <label for="lname">Product description</label><br>
                    <input type="text" id="description" v-model="product.description" autocomplete="off" required
                        class="form-control form-control-lg">
                    
                </div>
                </div>
                <div class="right" style="float:right">
                <div class="form-outline form-white mb-4">
                    <label for="lname">Image</label><br>
                    <input type="file" id="image_url" name="image_url" @change="imageFile">
                    
                </div>
                <div class="form-outline form-white mb-4">
                    <label for="lname">Price</label><br>
                    <input type="text" id="price" v-model="product.price" autocomplete="off" required
                        class="form-control form-control-lg">
                    
                </div>
                <select id="select" v-model="category_id">
                    <label for="lname">Price</label>
                    <option v-for="item in Categories" :value="item.id" :key="item.id">
                        {{ item.name }}
                    </option>
                </select><br>
                <br>
                <button type="submit" class="btn btn-primary"> Add </button>
                </div>
            </div>
            
        </form>
    </div>
</template>
<script>
import swal from 'sweetalert2'
export default {
    data() {
        return {
            product: {
                code: '',
                name: '',
                description: '',
                image_url: '',
                price: '',
                category_id: '1',
                
            },
            Categories: [],
            selectFile: null,
        }
    },
    mounted() {
        this.getListCategories()
    },
    methods: {
        imageFile(event) {
            this.selectFile = event.target.files[0];
        },

        async getListCategories() {

            const response = await this.$axios.get('/category')
            console.log('123', response.data);
            this.Categories = response.data


        },
        async addProduct() {
            const formData = new FormData()
                formData.append('image_url', this.selectFile)
                formData.append('name', this.product.name)
                formData.append('code', this.product.code)
                formData.append('description', this.product.description)
                formData.append('price', this.product.price)
                formData.append('category_id', this.product.category_id)
                await this.$axios.post('/product ', formData)
                                 .then((response) => {
                                    console.log(response)
                                        if (response.status === 200) {
                                            this.$router.push(
                                            { name: 'index' },
                                            
                                            )
                                        }
                                        // eslint-disable-next-line no-console
                                        console.log('result', response)

                                 })   ;
        }
    }
}
</script>
<style>
.list-input {
    width: 1000px;
    margin: 1px auto;
}

</style>