<template>
    <div class="api-calling container mt-5">
        <nuxt-link to="/admin/product/addProduct">Create</nuxt-link>
       
       <hr>
       <h1>List Products</h1>
       <table class="table">
               <tr>
                   <th >ID</th>
                   <th >Code</th>
                   <th >Name</th>
                   <th >Description</th>
                   <th >Image</th>
                   <th >Price</th>
                   <th >Category</th>
                   <th>Action</th>
                   
               </tr>
               <tr v-for="product in Products" :key="product.id">
                   <td>{{ product.id }}</td>
                   <td>{{ product.code }}</td>
                   <td>{{ product.name }}</td>
                   <td>{{ product.description }}</td>
                   <td>{{ product.image_url }}</td>
                   <td>{{ product.price }}</td>
                   <td>{{ product.category_id }}</td>
               </tr>
          
       </table>
   </div>
</template>
<script>

export default {
       data() {
           return {
               Products:[]
           }
       },
       mounted() {
           this.getListProducts()
       },
       methods: {
           async getListProducts() {

                   const response = await this.$axios.get('/product')
                   console.log('123',response.data);
                   this.Products = response.data

              
          }
       }
   }
</script>
<style>
tr td {
    border: 1px solid black;
}


</style>