<template>
    <div>   
        <Header></Header>
            <div class="add-product">
                <AddProduct></AddProduct>
            </div>
    </div>
</template>
<script>
import AddProduct from "~/components/admin/product/AddProduct";
import Header from "~/components/header/header.vue";
export default {
    components:{
    AddProduct,
    Header
}
}
</script>