<template>
    <ListProduct></ListProduct>
</template>
<script>
import ListProduct from '~/components/admin/product/ListProduct'
export default {
    components: {
        ListProduct
    }
}
</script>
