<template>
  <div class="header">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <div class="link"><nuxt-link to="/" >Home</nuxt-link></div>
      <!-- <div class="link"><nuxt-link to="/register" >Product</nuxt-link></div> -->
      <div class="link"><nuxt-link to="/admin/category" >Category</nuxt-link></div>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item href="#">Link</b-nav-item>
          <b-nav-item href="#" disabled>Disabled</b-nav-item>
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <b-navbar-nav class="ml-auto">
          <b-nav-form>
            <b-form-input size="sm" class="mr-sm-2" placeholder="Search"></b-form-input>
            <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
          </b-nav-form>

          <b-nav-item-dropdown text="Lang" right>
            <b-dropdown-item href="#">EN</b-dropdown-item>
            <b-dropdown-item href="#">ES</b-dropdown-item>
            <b-dropdown-item href="#">RU</b-dropdown-item>
            <b-dropdown-item href="#">FA</b-dropdown-item>
          </b-nav-item-dropdown>

          <b-nav-item-dropdown right>
            <!-- Using 'button-content' slot -->
            <template #button-content>
              <em>User</em>
            </template>
            <b-dropdown-item href="">Profile</b-dropdown-item>
            <b-dropdown-item href="" @click="logOut">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>

</template>
<script>
export default {
        name: 'Header',
        methods: {
           logOut() {
  //             await this.$axios.post('logout',{},{
  //                headers: {
  //   'Authorization': `Basic ${token}` 
  // }
  //             }
  //             )
              // this.$auth.logout();
              this.$router.push({ name: 'login'});
          }
        }
    }
</script>
<style>

.link a{
  margin-right: 10px;
  color: white;
  text-decoration: none;
  font-size: 20px  
}
</style>

