<template>
    <div>
        <Register></Register>
    </div>
</template>
<script>
import Register from "~/components/admin/register";

export default {
    components: {
    Register,
    
},auth:false
}
</script>