<template>
<div>
    <Header></Header>
    <ListCategory></ListCategory>
</div>
</template>
<script>
import ListCategory from "~/components/admin/category/ListCategory";
import Header from "~/components/header/header.vue";
export default {
    components:{
    ListCategory,
    Header
}
}
</script>